* {
  /* CSS HEX */
--light-gray: #dad2d8ff;
--gunmetal: #143642ff;
--dark-cyan: #0f8b8dff;
--carrot-orange: #ec9a29ff;
--carnelian: #a8201aff;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


#main_container{
  background-color: var(--light-gray);
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


